@font-face {
  font-family: "BR Firma";
  src: url("../../../src//assets/fonts/BR\ Firma\ Medium.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("../../../src//assets/fonts/AeonikProTRIAL-Regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro Light";
  src: url("../../../src//assets/fonts/AeonikProTRIAL-Light.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
